<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ site.title }}</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<h1>iScout opdrachten</h1>
		{% for type in [ "beschikbaar", "afgekeurd", "bezig", "af" ] %}
		<h2>{{ type | capitalize }}</h2>
		<ul>
				{% for opdracht in opdrachten[type] %}
				<li>{{ opdracht }}</li>
				{% endfor %}
		</ul>
		{% endfor %}
	</body>
</html>
